body {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 20px;
    background: rgb(23, 23, 23);
}

.content {
    margin: 24px 16px;
    padding: 20px;
}

.trigger-btn {
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.menu-bar {
    background-color: rgb(21, 21, 21);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.sidebar-icons {
    color: rgb(231, 231, 231) !important;
    font-size: 20px !important;
}

.ant-menu-item-selected {
    background-color: #55555565 !important;
    color: rgb(231, 231, 231) !important;
}

.sider {
    height: 100vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top : 0;
}

.logo {
    color: #db2525;
    margin: 30px 0;
    font-size: 1.5rem;
}

.searchBar .ant-input {
    color: rgb(231, 231, 231) !important;
    background-color: rgb(23, 23, 23) !important;
    border-color: rgb(234, 230, 0);
}

.searchBar .ant-input:focus {
    border-color: rgb(234, 230, 0);
}

.searchBar .ant-input::placeholder {
    color: rgb(178, 178, 178) !important;
}

.searchBar .ant-btn-primary {
    background-color: rgb(234, 230, 0) !important;
    border-color: rgb(234, 230, 0) !important;
    color: black !important;
}



.searchBar .ant-btn-primary:hover,
.searchBar .ant-btn-primary:focus {
    background-color: rgb(234, 230, 0) !important;
    border-color: rgb(234, 230, 0) !important;
    color: black !important; 
}

.edit-button {
    color: rgb(178, 178, 178);
    background-color: rgb(23, 23, 23);
    border-color: rgb(178, 178, 178);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.edit-button:hover {
    color: rgb(234, 230, 0) !important;
    background-color: rgb(23, 23, 23) !important;
    border-color: rgb(234, 230, 0) !important;
    border-radius: 20px !important;
}

.contributeBtn {
    height: 37px;
    margin-top: -8px;
    background-color: rgb(23, 23, 23) !important;
    color: rgb(178, 178, 178) !important;
}

.contributeBtn:hover{
    border: none !important;
    background-color: rgb(234, 230, 0) !important;
    color: rgb(23, 23, 23) !important;
}

.cardStyle {
    background-color: rgba(67, 67, 89, 0.637);
}